.active-btn {
  background-color: #f43397 !important;
  color: #fff !important;
}
.btns {
  color: #f43397;
  margin: 0 15px !important;
}
#sort-btns {
  width: fit-content;
  float: right;
  display: flex;
}
#sort-btns button {
  background-color: #fff;
  color: #f43397;
  border: 1px solid #f43397;
  padding: 5px 10px;
  font-size: 11px;
  margin: 0 10px;
  border-radius: 4px;
  font-weight: 500;
}
.product-name{
  font-size: 16px;
      font-weight: 400;
      margin: 0 12px 9px;
      font-family: "Mier book";
}
#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2vw 20px;
  @media (max-width: 720px) {
    justify-content: center;
  }
}
#products div {
  width: 250px;
  margin: 0 10px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 6px 1px #e3e3e3;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  padding-bottom: 4px;
  background-color: #f9f9f9;
  transition: 01s cubic-bezier(0.075, 0.82, 0.165, 1);
  
}

#products div:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 10px 1px #d0d0d0;
}